.border
{
border-style: solid;
border-color: black;

}
table, td, th {
  border: 2px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

th {
  height: 25px;
}

body{
  background-color:  lightgrey !important;
}
